html{
	font-size: 1em;
}
body{
	font-size: 1em;
	-webkit-font-smoothing: antialiased;

}
* {
	/*font-family: 'Crimson Text', serif;*/
	/*font-family: 'Ubuntu', sans-serif;*/
	/*font-family: 'Arimo', sans-serif;*/
	font-family: 'Muli', sans-serif;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
	letter-spacing: 1px;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.8em;
	margin-bottom: 15px;
}
h3{
	font-size: 1.25em;
	margin-bottom: 20px;
}
h4{
	font-size: 1em;
}
h5{
	font-size: 0.75em;
}
h6{
}
p{
	font-size: 0.9em;
	letter-spacing: 1px;
}
a{
	font-size: 0.9em;
	text-decoration: none;
	cursor: pointer;
}
{
	text-decoration:none;
}
{
	text-decoration: none;

}
a:visited, a:focus, a:active, a:hover{
	text-decoration: none !important;
	background-color: transparent!important;
}
p{
	text-align: justify;
}
/*common styles*/
.no-pad{
	padding: 0;
}
.pad-10{
	padding: 0.6em 0em;
}
.no-mar{
	margin:0;
}
.full-width {
	width: 100%;
}
.error {
	color: red;
	font-size: 0.9em;
}
.min-95 {
	min-height: 95vh;
}

/*colors*/
.blue {
	color: #0071ce;
}
.yellow {
	color: #F8C030;
}
.black {
	color: black;
}
.bg-blue {
	background-color: #0071ce;
}
.bg-grey {
	/*background-color: #E7E5DF;*/
	background-color: #FAFAF9;
}
/*headings*/
.sub-head {
	/*font-weight: bold;*/
	padding: 0.5em 1em;
}
.sMessage {
	color: green;
	font-size: 0.9em;
}


/*header*/
.navbar {
	margin-bottom: 0px;
}
.contact-head {
	color: white;
}
.form-group {
	margin:1em 0em;
}
.form-group input, .form-group select {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	outline: none;
	width: 90%;
}
.form-group input:focus {
	border-color: orange;
}
.form-group label {
	width: 100%;
}
/*pagination*/
.pagin {
  background-color: white;
  margin:0em;
  padding: 1em;
  border:1px solid rgba(0,0,0,0.10);
}
.full-block-table{
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.10);
}