html{
	font-size: 1em;
}
body{
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;																																																																																																																																																																																															
}
* {
	font-family: 'Muli', sans-serif;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
	letter-spacing: 1px;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.8em;
	margin-bottom: 15px;
}
h3{
	font-size: 1.25em;
	margin-bottom: 20px;
}
h4{
	font-size: 1em;
}
h5{
	font-size: 0.75em;
}
h6{
}
p{
	font-size: 0.9em;
	letter-spacing: 1px;
}
a{
	font-size: 0.9em;
	text-decoration: none;
	cursor: pointer;
}
{
	text-decoration:none;
}
{
	text-decoration: none;

}
a:visited, a:focus, a:active, a:hover{
	text-decoration: none !important;
	background-color: transparent!important;
}
p{
	text-align: justify;
}
/*common styles*/
.no-pad{
	padding: 0;
}
.pad-10{
	padding: 0.6em 0em;
}
.no-mar{
	margin:0;
}
.full-width {
	width: 100%;
}
.error {
	color: red;
	font-size: 0.8em;
	font-weight: bold;
}
.min-95 {
	min-height: 95vh;
}

/*colors*/
.blue {
	color: #0071ce;
}
.yellow {
	color: #F8C030;
}
.red{
	color: red;
}
.black {
	color: black;
}
.bg-blue {
	background-color: #0071ce;
}
.bg-white {
	/*background-color: white;*/
}
.bg-grey {
	/*background-color: #E7E5DF;*/
	background-color: #FAFAF9;
}
.fa-pencil{
	color: orange;
}
.fa-long-arrow-alt-up {
	color: grey;
	cursor: pointer;
}
.fa-long-arrow-alt-down {
	color: orange;
	cursor: pointer;
}
.btn {
	border-radius: 0px;
	font-weight: bold;
}
/*headings*/
.sub-head {
	/*font-weight: bold;*/
	padding: 0.5em 1em;
}
.sMessage {
	color: green;
	font-size: 0.9em;
}


/*header*/
.navbar {
	margin-bottom: 0px;
}
.contact-head {
	color: white;
}
.form-group {
	margin:1em 0em;
}
.form-group input, .form-group select {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	outline: none;
	width: 90%;
}
.form-group input:focus {
	border-color: orange;
}
.form-group label {
	width: 100%;
}
/*pagination*/
.pagin {
  background-color: white;
  margin:0em;
  padding: 1em;
  border:1px solid rgba(0,0,0,0.10);
}
.full-block-table{
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.10);
}
.table-search-bar {
	color: white;
	background-color: transparent;
	border:none;
	border-bottom: 1px solid orange;
	outline: none;
	font-weight: 0.8em;	
}


@media (max-width: 767px) {
	
	html {
		font-size: 16px;
	}
	body {
		font-size: 1em;
		padding-top: 1.5em;
	}
	/*signup*/
	.signup-img-block {
		padding: 0px;
		padding-top: 0.5em;
		background-attachment:fixed;
		height: auto;
	}
	.signup-form-block {
		/*padding: 0.5em!important;*/
		height: auto;
	}
	.sub-head {
		margin:0em;
		padding: 0.5em 1em;
	}
	.form-item {
		padding: 0.5em 1em!important;
	}
	.form-item input {
		font-size: 0.75em!important;
		padding: 0.5em!important;
	}
	/*contact*/
	.contact-flx{
		display: block!important;
	}
	.mb-top-1 {
		margin-top: 0.5em;
	}
	.min-95 {
		height: auto;
	}
	.contact-head {
		padding: 0.5em!important;
	}
	.full-block-table {
		position: sticky;
  	top: 80px;
	}
	.el-dialog {
		width:80%!important;
	}
	.nav-list {
		margin:0;
		display: inline-block;
		padding: 1em;
		width: 100%;
	}
	.nav-list li {
		padding: 0;
		margin:0;
		width: 50%!important;
		float: left;
		overflow: hidden;
	}
	.nav-list>li>p {
		padding: 0.5em;
		margin:0;
		width: 100%;
		text-align: center;
		color: white!important;
	}
	
}

